---
itemtype: CollectionPage
title: Writing — Dixon & Moe
description: A bespoke web design and development outfit based in SF.
changefreq: "daily"
priority: 1.0
pageable: true
per_page: 10
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Writing — Dixon & Moe",
    local_description: "Branding, development and design."
  }) %>
<% end %>

<%# Header %>
<header class="page-header">
  <div class="row">
    <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12 col-lg-offset-2">
      <h1 class="page-header__title">Writing.</h1>
    </div>
  </div>
</header>

<section class="page-section">
  <div class="row">
    <div class="col-sm-20 col-md-16 col-sm-centered">
      <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
          <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
      <% end %>


      <% blog.articles.each_with_index do |article, i| %>
        <h2><%= link_to article.title, article %></h2> <h4><%= article.date.strftime('%b %e') %></h4>
        <%= article.summary(250) %>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <p><%= link_to 'Next page', next_page %></p>
        <% end %>
      <% end %>

    </div>
  </div>
</section>