<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <%# Meta Tags %>
    <% if content_for?(:meta) %>
      <%= yield_content :meta %>
    <% end %>

    <%# Typekit Fonts %>
    <script src="//use.typekit.net/byb6vzw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%# CSS Assets %>
    <%= stylesheet_link_tag "all" %>

    <%# CSS Custom %>
    <% if content_for?(:stylesheets) %>
      <style><%= yield_content :stylesheets %></style>
    <% end %>

    <%# Favicons %>
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->

    <%# Touch Icons %>
    <%= partial("partials/head/touch_icons") %>

    <%# Knowledge Graph %>
    <%= partial("partials/head/knowledge_graph") %>
  </head>

  <body class="<%= page_classes %>" itemscope itemtype="https://schema.org/<%= current_page.data.itemtype %>">

    <!-- <div style="position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;border:12px solid #0F0D20;"></div> -->

    <%# Layout Modal %>
    <div class="layout-modal js-layout-modal"></div>

    <%# Layout Overlay %>
    <div class="layout-overlay js-layout-overlay"></div>

    <%# Layout Navigation %>
    <%= partial("partials/navigation") %>

    <%# Layout Content %>
    <main class="layout-content parallax js-layout-content" <% unless current_page.data.itemtype == "Article" %>itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement"<% end %> role="main">
      <%= yield %>
    </main>

    <%# Layout Footer %>
    <%# partial("partials/footer") %>

    <%# JS Assets %>
    <%= javascript_include_tag "all" %>

    <%# JS Custom %>
    <% if content_for?(:javascripts) %>
      <script><%= yield_content :javascripts %></script>
    <% end %>

    <%# Google Anlaytics %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-64800746-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </body>
</html>