<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    
    <title>Mark Janzer · Portfolio</title>
    <meta name="description" content="Web developer based in SF with a passion for music, teaching, and learning.">
    <meta name="keywords" content="Web Developer,Web Design,Keyboard,Rap,Portfolio">

    <%# CSS Assets %>
    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>" itemscope itemtype="https://schema.org/<%= current_page.data.itemtype %>">

    <%# Body Content %>
    <main class="body-content js-body-content">
      <%= yield %>
    </main>

    <%# JS Assets %>
    <%= javascript_include_tag :application %>

    <%# JS Custom %>
    <% if content_for?(:javascripts) %>
      <script><%= yield_content :javascripts %></script>
    <% end %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80177688-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-80177688-4');
    </script>

  </body>
</html>