<%# Metadata %>
<title><%= current_page.data.title %> &mdash; Dixon &amp; Moe</title>
<meta name="title" content="HTML Color Codes">
<meta name="description" content="<%= current_page.data.description %>">
<%# Facebook %>
<meta property="og:site_name" content="Dixon &amp; Moe">
<meta property="og:type" content="article">
<meta property="og:url" content="http://dixonandmoe.com<%= current_page.url %>">
<meta property="og:title" content="<%= current_page.data.title %> &mdash; Dixon &amp; Moe">
<meta property="og:description" content="<%= current_page.data.description %>">
<meta property="og:image" content="http://dixonandmoe.com<%= image_path('dixonandmoe-hero.jpg') %>">
<%# Twitter %>
<meta name="twitter:site" content="@dixonandmoe">
<meta name="twitter:domain" content="dixonandmoe.com">
<meta name="twitter:card" content="photo">
<meta name="twitter:url" content="http://dixonandmoe.com<%= current_page.url %>">
<meta name="twitter:title" content="<%= current_page.data.title %> &mdash; Dixon &amp; Moe">
<meta name="twitter:description" content="<%= current_page.data.description %>">
<meta name="twitter:image" content="http://dixonandmoe.com<%= image_path('dixonandmoe-hero.jpg') %>">