---
itemtype: WebPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/imagewall/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-imagewall-hero.jpg",
    local_title:       "ImageWall | Work — Dixon & Moe",
    local_description: "We partnered with the ImageWall team to prototype, develop and launch a rebuilt 3D web experience, so they could scale their product without hiring more staff."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" },
      { url: "#{config.base_url}/work/imagewall/", title: "ImageWall", type: "WebPage" }
    ]
  }) %>
<% end %>

<article class="case" itemscope itemtype="https://schema.org/CreativeWork">
  <header class="case-header">
    <div class="case-header__text">
      <h1 class="case-header__title" itemprop="name">Building Tools of the Future</h1>
      <p class="case-header__abstract" itemprop="description">Scaling a 3D webapp to design and purchase custom perforated metal.</p>
      <div class="case-header__byline">ImageWall</div>
    </div>
    <figure class="case-header__hero case-header__hero--imagewall">
      <div class="case-header__background case-header__background--imagewall">
        <video class="case-header__video case-header__video--imagewall" preload="auto" mute loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject" poster="<%= asset_url("assets/images/work/imagewall/imagewall-case-study-01-hero-poster.jpg") %>">
          <meta itemprop="name" content="ImageWall browser-based 3D designer">
          <source src="<%= asset_url("assets/images/work/imagewall/imagewall-case-study-01-hero.mp4") %>" type="video/mp4" itemprop="url">
        </video>
        <%= image_tag("work/imagewall/imagewall-case-study-01-hero.gif", class: "case-header__mobile", alt: "ImageWall browser-based 3D designer") %>
      </div>
      <div class="case-header__foreground case-header__foreground--imagewall">
        <%= image_tag("work/imagewall/imagewall-case-study-01-hero--left.png", class: "case-header__image case-header__image--imagewall-left") %>
        <%= image_tag("work/imagewall/imagewall-case-study-01-hero--right.png", class: "case-header__image case-header__image--imagewall-right") %>
      </div>
    </figure>
  </header>
  <section class="case-section">
    <div class="case-text">
      <div class="case-text__summary">
        <h5 class="case-text__title">Background</h5>
        <p class="case-text__description">ImageWall's online platform to design and purchase perforated metal walls was growing, but sustaining the growth required an infrastructure upgrade.</p>
      </div>
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C1</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">Overview</h2>
        <p class="case-text__description">We partnered with the ImageWall team to prototype, develop and launch a completely rebuilt 3D web experience that focused on streamlining the customization and sales process, so they could scale their product without hiring more staff. The collaborative effort resulted in a faster, more intuitive user experience tightly integrated with secure online payment options so a customer could go from design to purchase completely online–no humans required.</p>
      </div>
      <div class="case-text__scope">
        <h5 class="case-text__title">Scope</h5>
        <p class="case-text__description">Strategy<br>Prototyping<br>UI/UX<br>Design<br>Development</p>
      </div>
    </div>
    <figure class="case-media case-media-lg case-media--flex case-media--imagewall-02">
      <div class="case-media__block case-media__block--left" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall home page",
          image_src: "work/imagewall/imagewall-case-study-02-website--left.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
      <div class="case-media__block case-media__block--right" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall designer page",
          image_src: "work/imagewall/imagewall-case-study-02-website--right.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C2</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">Divide and Conquer</h2>
        <p class="case-text__description">With a short timeline we elected to split into groups and work in tandem. Part of our team tackled the marketing website, CMS and user authentication while the rest jumped straight into prototyping the 3D webapp's UI and customization interface. We held weekly video chats with the ImageWall team to discuss design decisions and feedback on the working prototypes, folding new ideas and directions into the following week's mockups.</p>
      </div>
    </div>
    <figure class="case-media case-media-xl case-media--scale case-media--imagewall-03">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: true,
          image_alt: "ImageWall interactive 3D designer UI studies",
          image_src: "work/imagewall/imagewall-case-study-03-ui-studies.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C3</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">Iterative Process</h2>
        <p class="case-text__description">Creating an intuitive user experience was a priority; the further a customer could take their design to completion the less they would need to engage with the sales team. We drilled down into every detail, iterating and testing interactive prototypes with users and teammates unfamiliar with the project to understand behavior patterns and common questions.</p>
      </div>
    </div>
    <figure class="case-media case-media-xl case-media--imagewall-04">
      <div class="case-media__block case-media__block--below" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall customized metal panels",
          image_src: "work/imagewall/imagewall-case-study-04-customized-panels--below.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
      <div class="case-media__block case-media__block--above" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall 3D designer interface",
          image_src: "work/imagewall/imagewall-case-study-04-customized-panels--above.png",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C4</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">Fast Customization</h2>
        <p class="case-text__description">The editor's final layout was informed by a desire to make sure every customization was, at most, a single click away. Grouping similar options and surfacing the most important ones let us create an elegant hierarchy that guided user's actions and exposed the power of ImageWall's editor as quickly as possible. Live pricing updates offer instant feedback and key users into the next part of their journey: payment.</p>
      </div>
    </div>
    <figure class="case-media case-media-md case-media--imagewall-05">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall payment flow",
          image_src: "work/imagewall/imagewall-case-study-05-payment-flow.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C5</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">Instant Invoicing</h2>
        <p class="case-text__description">We opted to integrate two purchasing methods: credit card payments via Stripe, and a more traditional emailed invoice. Upon purchase completion the new system programmatically generates a PDF invoice and emails it to the customer along with a service agreement–offloading the manual follow up process to save time and increase reliability.</p>
      </div>
    </div>
    <figure class="case-media case-media-xl case-media--imagewall-06">
      <div class="case-media__block case-media__block--below" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "Pearl Marriott Facade (photo copyright Ben Coffman)",
          image_src: "work/imagewall/imagewall-case-study-06-platform--below.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
      <div class="case-media__block case-media__block--above" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "ImageWall project page, admin and login screens",
          image_src: "work/imagewall/imagewall-case-study-06-platform--above.png",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C6</h5>
      </div>
      <div class="case-text__block">
        <h2 class="case-text__title">All Together Now</h2>
        <p class="case-text__description">While a major focus of the project was the 3D experience, the ImageWall platform encompasses much more. The marketing website, CMS, user profiles, and administrative area all contribute to powering ImageWall's growth, and streamlining its management. While it's still early we've received great feedback from the team, and the metrics look promising.<br><br>See it live at <%= link_to "imagewall.com", "https://www.imagewall.com", class: "page-text__link", target: "_blank" %></p>
      </div>
    </div>
  </section>
  <footer class="case-footer">
    <h3 class="case-footer__title">Up next</h3>
    <article class="case-card" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="case-card__icon">
        <h5 class="case-card__icon-text">W2</h5>
      </div>
      <div class="case-card__text">
        <div class="case-card__byline">A. Zahner Co.</div>
        <h2 class="case-card__title">
          <% link_to "/work/zahner/", class: "case-card__link", itemprop: "url" do %>
            <span itemprop="name">Crafting a Digital Legacy</span>
          <% end %>
        </h2>
        <p class="case-card__abstract" itemprop="description">A ground up redesign for Zahner's flagship website.</p>
      </div>
    </article>
  </footer>
</article>