---
itemtype: WebPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/mit-design-lab",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-mit-design-lab-hero.jpg",
    local_title:       "MIT Design Lab | Work — Dixon & Moe",
    local_description: "We worked with MIT's Design Lab to create and deploy a new digital strategy, opening up collaboration and establishing a clear, overarching brand."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" },
      { url: "#{config.base_url}/work/mit-design-lab/", title: "MIT Design Lab", type: "WebPage" }
    ]
  }) %>
<% end %>

<article class="case" itemscope itemtype="https://schema.org/CreativeWork">
  <header class="case-header">
    <div class="case-header__text">
      <h1 class="case-header__title" itemprop="name">Micro Sites, Macro Brand</h1>
      <p class="case-header__abstract" itemprop="description">Developing a digital platform for MIT's new Design Lab.</p>
      <div class="case-header__byline">MIT Design Lab</div>
    </div>
    <figure class="case-header__hero case-header__hero--mit-design-lab">
      <div class="case-header__background case-header__background--mit-design-lab">
        <video class="case-header__video case-header__video--mit-design-lab" preload="auto" muted loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject" poster="<%= asset_url("assets/images/work/mit-design-lab/mit-design-lab-case-study-01-hero-poster.jpg") %>">
          <meta itemprop="name" content="MIT Design Lab">
          <source src="<%= asset_url("assets/images/work/mit-design-lab/mit-design-lab-case-study-01-hero.mp4") %>" type="video/mp4" itemprop="url">
        </video>
        <%= image_tag("work/mit-design-lab/mit-design-lab-case-study-01-hero.gif", class: "case-header__mobile", alt: "MIT Design Lab") %>
      </div>
    </figure>
  </header>

  <section class="case-section">
    <div class="case-text">
      <div class="case-text__summary">
        <h5 class="case-text__title">Background</h5>
        <p class="case-text__description">A diverse collection of multidisciplinary research groups, MIT’s Design Lab needed a new digital hub to support and connect their initiatives.</p>
      </div>
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C1</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Overview</h5>
        <p class="case-text__description">We worked with the Design Lab's leadership team to create and deploy a digital strategy that afforded the flexibility of their current system—one-off websites for every research project—while opening up collaboration and establishing a clear overarching brand.</p>
      </div>
      <div class="case-text__scope">
        <h5 class="case-text__title">Scope</h5>
        <p class="case-text__description">Strategy<br>Design<br>Development<br>CMS</p>
      </div>
    </div>
    <figure class="case-media case-media-lg case-media--flex case-media--mit-design-lab-02">
      <div class="case-media__block case-media__block--left" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "MIT Design Lab Home Page",
          image_src: "work/mit-design-lab/mit-design-lab-case-study-02-website--left.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
      <div class="case-media__block case-media__block--right" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "MIT Design Lab Projects Page",
          image_src: "work/mit-design-lab/mit-design-lab-case-study-02-website--right.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C2</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">A New Digital Hub</h5>
        <p class="case-text__description">Managing projects across their distributed setup of one-off WordPress websites had become a major bottleneck, especially for project leads working on multiple research initiatives. To streamline the collaborative process we built a custom web platform that gave every team member permissioned access to their projects from a single login, minimizing redundancy and fostering communication.</p>
      </div>
    </div>
    <figure class="case-media case-media-md case-media--mit-design-lab-03">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "MIT Design Lab Layout Taxonomies",
          image_src: "work/mit-design-lab/mit-design-lab-case-study-03-layout-taxonomies.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C3</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Layout Taxonomies</h5>
        <p class="case-text__description">To maintain brand continuity between the main website and the project micro-sites we prototyped with the Lab's team various layout taxonomies to narrow down the default templates. Following multiple elimination rounds we distilled the handful of selected templates down to their core components and proceeded to develop drag-n-drop content modules that enabled further variation within the layouts themselves.</p>
      </div>
    </div>
    <figure class="case-media case-media-lg case-media--mit-design-lab-04">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "MIT Design Lab Micro-site Editor",
          image_src: "work/mit-design-lab/mit-design-lab-case-study-04-micro-site-editor.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C4</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Micro-site Editor</h5>
        <p class="case-text__description">In addition to the main website's administrative area, we developed a custom space for creating and managing the research micro-sites. Live-previewing of micro-site customizations like default layout, colors, and content was enthusiastically received by the Lab's team, as was the ability to manage everything from a single URL on their MIT domain.</p>
      </div>
    </div>
    <figure class="case-media case-media-xl case-media--mit-design-lab-05">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "MIT Design Lab Tangible Map Micro-site",
          image_src: "work/mit-design-lab/mit-design-lab-case-study-05-tangible-map-micro-site.png",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C5</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Up(load) and Away</h5>
        <p class="case-text__description">The result is a platform that enables simple cross-project collaboration by different groups, cataloging the output under a unified brand and providing the Design Lab with a digital presence to match their cutting edge research. Already the lab has created over 60 projects and 20 micro-sites, and we're very excited (and grateful) to be a part of the platform's growth.<br><br>See it live at <%= link_to "design.mit.edu", "http://design.mit.edu", class: "page-text__link", target: "_blank" %></p>
      </div>
      <div class="case-text__stats">
        <figure class="case-text__stat">
          <div class="case-text__stat-display">60+</div>
          <figcaption class="case-text__stat-caption">Projects</figcaption>
        </figure>
        <figure class="case-text__stat">
          <div class="case-text__stat-display">20</div>
          <figcaption class="case-text__stat-caption">Micro-sites</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <footer class="case-footer">
    <h3 class="case-footer__title">Up next</h3>
    <article class="case-card" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="case-card__icon">
        <h5 class="case-card__icon-text">W1</h5>
      </div>
      <div class="case-card__text">
        <div class="case-card__byline">ImageWall</div>
        <h2 class="case-card__title">
          <% link_to "/work/imagewall/", class: "case-card__link", itemprop: "url" do %>
            <span itemprop="name">Building Tools of the Future</span>
          <% end %>
        </h2>
        <p class="case-card__abstract" itemprop="description">Scaling a 3D web app to design and purchase custom perforated metal.</p>
      </div>
    </article>
  </footer>
</article>
<%= partial("partials/contact") %>