---
itemtype: WebPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/monograph/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-monograph-hero.jpg",
    local_title:       "Monograph | Work — Dixon & Moe",
    local_description: "Monograph is a business dashboard for architecture and engineering firms to track and analyze their financial and operational performance."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" },
      { url: "#{config.base_url}/work/monograph/", title: "Monograph", type: "WebPage" }
    ]
  }) %>
<% end %>

<article class="case" itemscope itemtype="https://schema.org/CreativeWork">
  <header class="case-header">
    <div class="case-header__text">
      <h1 class="case-header__title" itemprop="name">Upgrading Architecture's Back Office</h1>
      <p class="case-header__abstract" itemprop="description">Project planning and time tracking software for architects.</p>
      <div class="case-header__byline is-venture">Monograph</div>
    </div>
    <figure class="case-header__hero case-header__hero--monograph" itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
      <div class="case-header__background case-header__background--monograph">
        <video class="case-header__video case-header__video--monograph" preload="auto" loop muted autoplay poster="<%= asset_url("assets/images/work/monograph-case-study-01-hero-cover.jpg") %>">
          <meta itemprop="name" content="The Ministry of Information from Terry Gilliam’s 1985 film Brazil.">
            <source src="<%= asset_url("assets/images/work/monograph/monograph-case-study-01-hero.mp4") %>" type="video/mp4" itemprop="url">
        </video>
        <%= image_tag("work/monograph/monograph-case-study-01-hero.gif", class: "case-header__mobile", alt: "MIT Design Lab") %>
      </div>
      <figcaption class="case-header__caption">
        <span itemprop="caption">The Ministry of Information from <a href="https://en.wikipedia.org/wiki/Brazil_(1985_film)" target="_blank" title="Brazil (1985 film) — Wikipedia">Terry Gilliam’s 1985 film Brazil</a></span>
        <span class="case-header__credit">Copyright Universal Pictures / 20th Century Fox</span>
      </figcaption>
    </figure>
  </header>

  <section class="case-section">
    <div class="case-text">
      <div class="case-text__summary">
        <h5 class="case-text__title">Background</h5>
        <p class="case-text__description">Monograph is a business dashboard for architecture and engineering firms to track and analyze their financial and operational performance.</p>
      </div>
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C1</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Overview</h5>
        <p class="case-text__description">Our second in-house software venture, <%= link_to "Monograph", "https://monograph.io", class: "page-text__link", target: "_blank" %> is a data driven platform designed to help architects and engineers understand and run their businesses more effectively, combining project planning and management with time tracking, forecasting, reporting and a lightweight CRM.</p>
      </div>
      <div class="case-text__scope">
        <h5 class="case-text__title">Scope</h5>
        <p class="case-text__description">Strategy<br>Design<br>UI/UX<br>Development<br>Marketing</p>
      </div>
    </div>
    <figure class="case-media case-media-lg case-media--monograph-02">
      <div class="case-media__block" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= partial("partials/image", locals: {
          mobile_2x: false,
          image_alt: "Monograph Dashboard",
          image_src: "work/monograph/monograph-case-study-02-dashboard.jpg",
          image_class: "case-media__image"
        }) %>
      </div>
    </figure>
    <div class="case-text">
      <div class="case-text__numeral">
        <h5 class="case-text__numeral-text">C2</h5>
      </div>
      <div class="case-text__block">
        <h5 class="case-text__title">Launch Sequence</h5>
        <p class="case-text__description">Currently under active development, our beta version is scheduled for Q4 of 2017, with a full public release sometime in Q1/Q2 of 2018.<br><br>Visit the website <%= link_to "monograph.io", "https://monograph.io", class: "page-text__link", target: "_blank" %> and signup to follow our updates.</p>
      </div>
    </div>
  </section>
  <footer class="case-footer">
    <h3 class="case-footer__title">Up next</h3>
    <article class="case-card" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="case-card__icon">
        <h5 class="case-card__icon-text">W1</h5>
      </div>
      <div class="case-card__text">
        <div class="case-card__byline">ImageWall</div>
        <h2 class="case-card__title">
          <% link_to "/work/imagewall/", class: "case-card__link", itemprop: "url" do %>
            <span itemprop="name">Building Tools of the Future</span>
          <% end %>
        </h2>
        <p class="case-card__abstract" itemprop="description">Scaling a 3D webapp to design and purchase custom perforated metal.</p>
      </div>
    </article>
  </footer>
</article>
<%= partial("partials/contact") %>