---
pageable: true
per_page: 10
---
<%# Page Content %>
<article vocab="http://schema.org/" typeof="Article" class="blog">

  <%# Page Header %>
  <header class="row text-xs-center">
    <div class="col-xs-24">
      <h1>Design & Marketing</h1>
    </div>
    <div class="col-xs-24">
      <span class="dash"></span>
      <p>Failed startups, SEO nerds and beer.</p>
    </div>
  </header>



  <div class="blog-index">
    <div class="row">
      <div class="col-sm-20 col-md-16 col-sm-centered">
      <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
          <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
      <% end %>


      <% blog.articles.each_with_index do |article, i| %>
        <h2><%= link_to article.title, article %></h2> <h4><%= article.date.strftime('%b %e') %></h4>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <%= article.summary(250) %>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <p><%= link_to 'Next page', next_page %></p>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>

</article>