---
itemtype: CollectionPage
title: Guides — Dixon & Moe
description: A bespoke web design and development outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "monograph-hero.jpg",
    local_title:       "Guides — Dixon & Moe | San Francisco Design and Software Consultancy",
    local_description: "Branding, development and design."
  }) %>
<% end %>

<%# Header %>
<header class="guides-header parallax__group">
  <div class="parallax__layer parallax__layer--5">
    <div class="guides-header__grid">
      <%# 1 — 12 %>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <%# 13 — 24 %>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <%# 25 — 36 %>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <%# 37 — 48 %>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
      <span class="guides-header__grid-col"></span>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--3">
    <ul class="guides-header__shapes js-parallax-scene">
      <li class="guides-header__shape layer" data-depth="0.20"><%= image_tag("guides/shape-md.svg", class: "guides-header__shape-md") %></li>
      <li class="guides-header__shape layer" data-depth="0.40"><%= image_tag("guides/shape-lg.svg", class: "guides-header__shape-lg") %></li>
      <li class="guides-header__shape layer" data-depth="0.80"><%= image_tag("guides/shape-sm.svg", class: "guides-header__shape-sm") %></li>
    </ul>
  </div>
  <div class="parallax__layer parallax__layer--1">
    <div class="guides-header__text">
      <div class="row">
        <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12 col-lg-offset-2">
          <h1 class="guides-header__title">Guides.</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<%# SEO for Designers %>
<section class="guides-section">
  <%# Section Title %>
<!--   <div class="">
    <div class="parallax__layer parallax__layer--3">
      <div class="row">
        
      </div>
    </div>
  </div> -->
  <%# Section Content %>
  <!-- <div class="parallax__layer parallax__layer--faster"> -->
    <div class="row">
      <div class="col-xs-24 col-sm-21 col-md-16 col-md-offset-2">
        <%# Part 4 %>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 5 — Markup", "/guides/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
        <%# Part 3 %>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 4 — Planning", "/guides/seo-for-designers-part-2/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 3 — Markup", "/guides/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 2 — Markup", "/guides/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 1 — Markup", "/guides/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xs-24 col-sm-3 col-md-6 show-sm">
        <h4 class="guides-section__title">SEO for Designers</h4>
      </div>
    </div>
  <!-- </div> -->
</section>

<%# Building an Agency %>
<section class="guides-section parallax__group">
  <%# Section Title %>
  <div class="">
    <div class="parallax__layer parallax__layer--3">
      <div class="row">
        <div class="col-xs-24 show-sm">
          <h4 class="guides-section__title">Building an Agency</h4>
        </div>
      </div>
    </div>
  </div>
  <%# Section Content %>
  <!-- <div class="parallax__layer parallax__layer--faster"> -->
    <div class="row">
      <div class="col-xs-24 col-sm-21 col-md-16 col-md-offset-2">
        <article class="home-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "How to Register a Business in San Francisco", "/guides/how-to-register-a-business-in-san-francisco/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="home-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/guides/how-to-register-a-business-in-san-francisco/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
        <article class="guides-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="guides-post__title" itemprop="headline">
                <%= link_to "How to Form an LLC in California", "/guides/how-to-form-an-llc-in-california/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="guides-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/guides/how-to-form-an-llc-in-california/", class: "guides-post__link" %>
            </div>
          </div>
        </article>
      </div>
    </div>
  <!-- </div> -->
</section>