---
title: Dixon & Moe — Strategy, Design, Development and Marketing
description: We're a San Francisco design and software consultancy developing websites and digital products, and can help you with your next project at just about any stage.
itemtype: WebPage
changefreq: "daily"
priority: 1.0
---


<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe.jpg",
    local_title:       "Dixon & Moe — Strategy, Design, Development",
    local_description: "We're a San Francisco design and software consultancy developing websites and digital products, and can help you with your next project at just about any stage."
  }) %>
<% end %>

<header class="page-header">
  <div class="page-header__text">
    <h1 class="page-header__title" itemprop="name">Strategy, design, development — we help AEC companies understand, prototype and deploy custom technologies.</h1>
    <div class="page-header__group page-header__group--large">
      <h5 class="page-text__kicker">Mission</h5>
      <p class="page-text__description">As trained (building) architects, software engineers and interface designers, we believe technology can be a motive force in the AEC disciplines. <%= link_to "Read more", "/about/", class: "page-header__link" %>.</p>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Clients</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "ImageWall", "/work/imagewall/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <%= link_to "A. Zahner Co.", "/work/zahner/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">Flux.io</span>
        </li>
        <li class="page-text__item">
          <%= link_to "MIT", "/work/mit-design-lab/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Ventures</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "Monograph 2.0", "/work/monograph/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">Monograph 1.0</span>
        </li>
        <li class="page-text__item">
          <%= link_to "Rellax", "/rellax/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="page-section">
  <figure class="page-case">
    <div class="case-header__background case-header__background--imagewall">
      <video class="case-header__video" preload="auto" loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="ImageWall browser based WebGL 3D experience.">
          <source src="<%= asset_url("assets/images/work/imagewall/imagewall-background.mp4") %>" type="video/mp4" itemprop="url">
      </video>
    </div>
    <div class="page-case__foreground">
      <figcaption class="page-case__card">
        <h2 class="page-case__title"><%= link_to "Building Tools of the Future", "/work/imagewall", class: "page-case__link" %></h2>
        <p class="page-case__abstract">3D app to design and purchase custom perforated metal from an image. <%= link_to "Read the case study", "/work/imagewall/", class: "page-case__link" %></p>
        <div class="page-case__byline">ImageWall</div>
      </figcaption>
    </div>
  </figure>
</section>