---
itemtype: WebPage
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Dixon & Moe — Strategy, Design, Development and Marketing",
    local_description: "We're a San Francisco design and software consultancy developing websites and digital products, and can help you with your next project at just about any stage."
  }) %>
<% end %>

<%# Custom JavaScript %>
<% content_for :javascripts do %>logoColor(840);<% end %>

<%# Header %>
<header class="home-header">

  <%# Header Graphic %>
  <div class="home-header__shapes">
    <div class="rellax" data-rellax-speed="-2">
      <div class="home-header__shape"></div>
    </div>
  </div>

  <%# Header Ampersands %>
  <div class="home-header__ampersands">
    <div class="rellax" data-rellax-speed="0">
      <div class="js-parallax-scene">
        <div class="layer" data-depth="0.75">
          <figure class="home-header__ampersand">
            <%= image_tag("ampersand-hatch.svg", class: "home-header__ampersand--hatch") %>
          </figure>
        </div>
        <div class="layer" data-depth="1.50">
          <figure class="home-header__ampersand">
            <%= image_tag("ampersand-solid.svg", class: "home-header__ampersand--solid") %>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <%# Header Text %>
    <div class="home-header__text">
      <div class="row">
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-18 col-lg-15">
            <h1 class="home-header__description" itemprop="description">We’re a San Francisco based design and software consultancy developing websites and digital products.</h1>
            <%= link_to "get in touch", "mailto:hello@dixonandmoe.com", class: "home-header__link" %>
          </div>
        </div>
        <div class="rellax" data-rellax-speed="0">
          <div class="col-xs-24 col-sm-3 col-md-8 col-lg-9 show-sm">
            <%= link_to "hello@dixonandmoe.com", "mailto:hello@dixonandmoe.com", class: "home-header__email" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%# Projects %>
<section class="home-projects">
  <%# WisePops %>
  <article class="project" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="row">
      <div class="col-xs-20 col-sm-21 col-md-18 col-lg-15">
        <h4 class="project__client"><span class="project__client-name" itemprop="name">WisePops</span><span class="project__client-dash"></span><span class="project__client-tags">design, ui/ux, marketing</span></h4>
        <h2 class="project__title" itemprop="description">WisePops wanted to take their SaaS popup business to the next level. <span class="project__title--light">We helped them double their revenue in 3 months with a brand refresh and new marketing site.</span></h2>
        <%= link_to "launch site", "http://wisepops.com/", class: "project__link", itemprop: "url", target: "_blank" %>
      </div>
      <div class="col-xs-4 col-lg-9">
        <%= image_tag("work/wisepops-hero--left.png", style: "width:960px;margin-left:60px;margin-top:-120px") %>
      </div>
    </div>
  </article>
  <%# AgendaNYC %>
  <article class="project" itemscope itemtype="https://schema.org/CreativeWork" style="margin-top:240px;">
    <div class="row">
      <div class="col-xs-4 col-lg-9">
        <%= image_tag("work/agendanyc-hero--left.png", style: "width:960px;margin-left:-600px;margin-top:-120px") %>
      </div>
      <div class="col-xs-20 col-sm-21 col-md-18 col-lg-15">
        <h4 class="project__client"><span class="project__client-name" itemprop="name">AgendaNYC</span><span class="project__client-dash"></span><span class="project__client-tags">frontend, custom cms, seo</span></h4>
        <h2 class="project__title" itemprop="description">Agenda had a vision for their agency's new website. <span class="project__title--light">We collaborated with their team to evolve that vision from wireframes into a vibrant, exciting online experience.</span></h2>
        <%= link_to "launch site", "http://www.agendanyc.com/", class: "project__link", itemprop: "url", target: "_blank" %>
      </div>
    </div>
  </article>
  <%# GrooveHQ %>
  <article class="project" itemscope itemtype="https://schema.org/CreativeWork" style="margin-top:240px;">
    <div class="row">
      <div class="col-xs-20 col-sm-21 col-md-18 col-lg-15">
        <h4 class="project__client"><span class="project__client-name" itemprop="name">GrooveHQ</span><span class="project__client-dash"></span><span class="project__client-tags">design, branding, marketing</span></h4>
        <!-- <h2 class="project__title" itemprop="description">Groove was looking to build user trust and optimize conversions. <span class="project__title--light">Working with their CEO Alex we redesigned customer acquisition.</span></h2> -->
        <h2 class="project__title" itemprop="description">Groove was looking to optimize conversions for their help desk software. <span class="project__title--light">Working with their CEO Alex we used design to build user trust and drive customer acquisition.</span></h2>
        <%= link_to "launch site", "https://www.groovehq.com/", class: "project__link", itemprop: "url", target: "_blank" %>
      </div>
      <div class="col-xs-4 col-lg-9">
        <%= image_tag("work/groovehq-hero--right.png", style: "width:1000px;margin-left:120px;margin-top:-120px;marign-bottom:-120px;") %>
      </div>
    </div>
  </article>
  <%# Aptible %>
  <article class="project" itemscope itemtype="https://schema.org/CreativeWork" style="margin-top:240px;">
    <div class="row">
      <div class="col-xs-4 col-lg-9">
        <%= image_tag("work/aptible-hero--left.png", style: "width:960px;margin-left:-600px;margin-top:-120px") %>
      </div>
      <div class="col-xs-20 col-sm-21 col-md-18 col-lg-15">
        <h4 class="project__client"><span class="project__client-name" itemprop="name">Aptible</span><span class="project__client-dash"></span><span class="project__client-tags">design, animation, frontend</span></h4>
        <h2 class="project__title" itemprop="description">Aptible needed a better way to explain their cloud technology. <span class="project__title--light">We created a beautiful animation to visually communicate their HIPAA compliant services.</span></h2>
        <%= link_to "visit page", "https://www.aptible.com/technology/", class: "project__link", itemprop: "url", target: "_blank" %>
      </div>
    </div>
  </article>
</section>

<%# Process %>
<section class="home-process">
  <div class="home-process__text">
    <div class="row">
      <div class="rellax" data-rellax-speed="2">
        <div class="col-xs-24 col-sm-21 col-md-16 col-lg-15">
          <h2 class="page-section__description">We take a design focused approach to each project phase, from discovery through development to launch.</h2>
          <%# link_to "learn about our process", "/process/", class: "page-section__link" %>
        </div>
      </div>
      <div class="rellax" data-rellax-speed="0">
        <div class="col-xs-24 col-sm-3 col-md-8 col-lg-9 show-sm">
          <h4 class="home-process__tagline">Our Process</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="home-process__grid">
    <div class="rellax" data-rellax-speed="0">
      <div class="row">
        <div class="col-xs-24">
          <span class="home-process__grid-col grid-col-1-a"></span>
          <span class="home-process__grid-col grid-col-1-b"></span>
          <span class="home-process__grid-col grid-col-2-a"></span>
          <span class="home-process__grid-col grid-col-2-b"></span>
          <span class="home-process__grid-col grid-col-3-a"></span>
          <span class="home-process__grid-col grid-col-3-b"></span>
          <span class="home-process__grid-col grid-col-4-a"></span>
          <span class="home-process__grid-col grid-col-4-b"></span>
          <span class="home-process__grid-col grid-col-5-a"></span>
          <span class="home-process__grid-col grid-col-5-b"></span>
          <span class="home-process__grid-col grid-col-6-a"></span>
          <span class="home-process__grid-col grid-col-6-b"></span>
          <span class="home-process__grid-col grid-col-7-a"></span>
          <span class="home-process__grid-col grid-col-7-b"></span>
          <span class="home-process__grid-col grid-col-8-a"></span>
          <span class="home-process__grid-col grid-col-8-b"></span>
          <span class="home-process__grid-col grid-col-9-a"></span>
          <span class="home-process__grid-col grid-col-9-b"></span>
          <span class="home-process__grid-col grid-col-10-a"></span>
          <span class="home-process__grid-col grid-col-10-b"></span>
          <span class="home-process__grid-col grid-col-11-a"></span>
          <span class="home-process__grid-col grid-col-11-b"></span>
          <span class="home-process__grid-col grid-col-12-a"></span>
          <span class="home-process__grid-col grid-col-12-b"></span>
          <span class="home-process__grid-col grid-col-13-a"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="home-process__shapes">
    <div class="rellax" data-rellax-speed="-2">
      <ul class="js-parallax-scene">
        <li class="home-process__shape layer" data-depth="0.33"><%= image_tag("process/shape-content-lg.svg", class: "home-process__shape-content") %></li>
        <li class="home-process__shape layer" data-depth="0.66"><%= image_tag("process/shape-discovery-lg.svg", class: "home-process__shape-discovery") %></li>
        <li class="home-process__shape layer" data-depth="1.00"><%= image_tag("process/shape-development-lg.svg", class: "home-process__shape-development") %></li>
        <li class="home-process__shape layer" data-depth="1.33"><%= image_tag("process/shape-design-lg.svg", class: "home-process__shape-design") %></li>
        <li class="home-process__shape layer" data-depth="1.66"><%= image_tag("process/shape-testing-lg.svg", class: "home-process__shape-testing") %></li>
        <li class="home-process__shape layer" data-depth="2.00"><%= image_tag("process/shape-start-lg.svg", class: "home-process__shape-start") %></li>
      </ul>
    </div>
  </div>
  <div class="home-process__phases">
    <div class="rellax" data-rellax-speed="0">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <h4 class="home-process__phase-title" style="margin-left:16px;">discovery</h4>
          <h5 class="home-process__phase-percent">00%</h5>
        </div>
        <div class="col-xs-4">
          <h4 class="home-process__phase-title" style="margin-left:8px;margin-top:4px;">design</h4>
          <h5 class="home-process__phase-percent" style="margin-left:-8px;margin-top:-4px;">15%</h5>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <h4 class="home-process__phase-title" style="margin-left:-8px;margin-top:12px;">development</h4>
          <h5 class="home-process__phase-percent" style="margin-left:-16px;margin-top:-12px;">55%</h5>
        </div>
        <div class="col-xs-4">
          <h4 class="home-process__phase-title" style="margin-left:-16px;margin-top:16px;">content</h4>
          <h5 class="home-process__phase-percent" style="margin-left:-24px;margin-top:-16px;">85%</h5>
        </div>
        <div class="col-xs-4">
          <h4 class="home-process__phase-title" style="margin-left:-32px;margin-top:24px;">testing</h4>
          <h5 class="home-process__phase-percent" style="margin-left:-32px;margin-top:-24px;">95%</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Writing %>
<section class="home-writing">
  <div class="home-writing__text">
    <div class="row">
      <div class="rellax" data-rellax-speed="0">
        <div class="col-xs-24 col-sm-3 col-md-8 col-lg-9 show-sm">
          <h4 class="home-writing__tagline">Our writing</h4>
        </div>
      </div>
      <div class="rellax" data-rellax-speed="2">
        <div class="col-xs-24 col-sm-21 col-md-16 col-lg-15">
          <h2 class="page-section__description">Sometimes we write about particular projects, building a design agency or just random stuff.</h2>
          <%# link_to "all our writing", "/writing/", class: "page-section__link" %>
        </div>
      </div>
    </div>
  </div>

  <div class="home-writing__posts">
    <%# Agency Year 1 %>
    <article class="home-post" itemscope itemtype="https://schema.org/Article">
      <div class="row">
        <%# Shape %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6">
            <div class="home-post__shape--right"></div>
          </div>
        </div>
        <%# Image %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6">
            <%= image_tag("posts/agency-year-1-make-all-the-mistakes.jpg", class: "home-post__image") %>
          </div>
        </div>
        <%# Text %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-15">
            <h2 class="home-post__title" itemprop="headline">Agency Year 1: Make All the Mistakes</h2>
            <%= link_to "read it now", "/writing/agency-year-1-make-all-the-mistakes/", class: "home-post__link" %>
          </div>
        </div>
      </div>
    </article>
    <%# Form an LLC %>
    <article class="home-post" itemscope itemtype="https://schema.org/Article">
      <div class="row">
        <%# Shape %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6">
            <div class="home-post__shape--left"></div>
          </div>
        </div>
        <%# Image %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6 col-md-offset-6">
            <%= image_tag("posts/how-to-form-an-llc-in-california.jpg", class: "home-post__image") %>
          </div>
        </div>
        <%# Text %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-12">
            <h2 class="home-post__title" itemprop="headline">How to Form an LLC in California</h2>
            <%= link_to "read it now", "/writing/how-to-form-an-llc-in-california/", class: "home-post__link" %>
          </div>
        </div>
      </div>
    </article>


  </div>
</section>

<%# Expertise %>
<section class="home-expertise">
  <div class="home-expertise__text">
    <div class="row">
      <div class="rellax" data-rellax-speed="2">
        <div class="col-xs-24 col-sm-21 col-md-18 col-lg-15">
          <h2 class="page-section__description">Got an idea? Let's work together already! We showed you ours, now send us yours. Seriously, what're you waiting for?</h2>
          <%= link_to "talk to us", "mailto:hello@dixonandmoe.com", class: "home-expertise__link" %>
        </div>
      </div>
      <div class="rellax" data-rellax-speed="0">
        <div class="col-sm-3 col-md-6 col-lg-9">
          <h4 class="home-expertise__tagline">Contact us</h4>
        </div>
      </div>
    </div>
  </div>
</section>