---
itemtype: WebPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe.jpg",
    local_title:       "Dixon & Moe — Strategy, Design, Development",
    local_description: "We're a San Francisco design and software consultancy developing websites and digital products, and can help you with your next project at just about any stage."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: []
  }) %>
<% end %>

<header class="page-header">
  <div class="page-header__text">
    <h1 class="page-header__title" itemprop="name"><span class="page-header__primary">Strategy<span class="page-header__punctuation">,</span> design<span class="page-header__punctuation">,</span> development</span><span class="page-header__punctuation"> — </span><span class="page-header__secondary">we help AEC companies understand, prototype and deploy custom technologies.</span></h1>
    <div class="page-header__group page-header__group--large">
      <h5 class="page-text__kicker">Mission</h5>
      <p class="page-text__description page-text__description--desktop">As trained (building) architects, software engineers and interface designers, we believe technology can be a motive force in the AEC disciplines. <%= link_to "Read more", "/about/", class: "page-header__link" %>.</p>
      <p class="page-text__description page-text__description--mobile">We're trained (building) architects, software engineers and interface designers helping AEC companies understand, prototype and deploy custom technologies. <%= link_to "Read more", "/about/", class: "page-header__link" %>.</p>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Clients</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "ImageWall", "/work/imagewall/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <%= link_to "A. Zahner Co.", "/work/zahner/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">Flux.io</span>
        </li>
        <li class="page-text__item">
          <%= link_to "MIT", "/work/mit-design-lab/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Ventures</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "MG Dashboard", "/work/monograph/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">MG Websites</span>
        </li>
        <li class="page-text__item">
          <%= link_to "Rellax", "/rellax/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="page-section">
  <article class="page-feature" itemscope itemtype="https://schema.org/CreativeWork">
    <figure class="page-feature__background page-feature__background--imagewall">
      <video class="case-header__video" preload="auto" loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="ImageWall browser based WebGL 3D experience.">
          <source src="<%= asset_url("assets/images/work/imagewall/imagewall-background.mp4") %>" type="video/mp4" itemprop="url">
      </video>
    </figure>
    <div class="page-feature__foreground">
      <div class="page-feature__text">
        <h2 class="page-feature__title" itemprop="name"><%= link_to "Building Tools of the Future", "/work/imagewall/", class: "page-feature__link", itemprop: "url" %></h2>
        <p class="page-feature__abstract" itemprop="description">3D app to design and purchase custom perforated metal from an image. <%= link_to "Read the case study", "/work/imagewall/", class: "page-feature__link" %></p>
        <div class="page-feature__byline">ImageWall</div>
      </figcaption>
    </div>
  </article>
  <div class="page-projects">
    <article class="page-card" itemscope itemtype="https://schema.org/CreativeWork">
      <figure class="page-card__media" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= image_tag("work/zahner/zahner-background--cover.jpg", class: "page-card__image", itemprop: "url") %>
      </figure>
      <div class="page-card__text">
        <h3 class="page-card__title" itemprop="name"><%= link_to "Crafting a Digital Legacy", "/work/zahner/", class: "page-card__link", itemprop: "url" %></h3>
        <p class="page-card__abstract" itemprop="description">A ground up redesign for Zahner's flagship website.</p>
        <div class="page-card__byline">A. Zahner Co.</div>
      </div>
    </article>
    <article class="page-card" itemscope itemtype="https://schema.org/CreativeWork">
      <figure class="page-card__media" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= image_tag("work/mit-design-lab/mit-design-lab-background--cover.jpg", class: "page-card__image", itemprop: "url") %>
      </figure>
      <div class="page-card__text">
        <h3 class="page-card__title" itemprop="name"><%= link_to "Micro Sites, Macro Brand", "/work/mit-design-lab/", class: "page-card__link", itemprop: "url" %></h3>
        <p class="page-card__abstract" itemprop="description">Developing a digital platform for MIT's new Design Lab</p>
        <div class="page-card__byline">MIT Design Lab</div>
      </div>
    </article>
  </div>
</section>