---
itemtype: WebPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe.jpg",
    local_title:       "Dixon & Moe — Strategy, Design, Development",
    local_description: "We're a San Francisco based software company helping AEC firms understand, prototype and deploy custom technologies."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: []
  }) %>
<% end %>

<header class="page-header">
  <div class="page-header__hero">
    <%= image_tag("circle.png", class: "page-header__hero-circle") %>
    <%= image_tag("polygon.png", class: "page-header__hero-polygon") %>
  </div>
  <div class="page-header__text">
    <h1 class="page-header__title"><span class="page-header__primary">Strategy<span class="u-hide-xs u-show-sm">,</span> design<span class="u-hide-xs u-show-sm">,</span> development</span><span class="u-hide-xs u-show-sm"> — we help AEC companies understand, prototype and deploy custom technologies.</span></h1>
    <div class="page-header__group page-header__group--digit">
      <h5 class="page-text__icon">A0</h5>
    </div>
    <div class="page-header__group page-header__group--large">
      <h5 class="page-text__kicker">Mission</h5>
      <p class="page-text__summary page-text__summary--desktop">As trained (building) architects, software engineers and interface designers, we believe technology can be a motive force in the AEC disciplines. <%= link_to "Read more", "/about/", class: "page-header__link" %>.</p>
      <p class="page-text__summary page-text__summary--mobile">We're trained (building) architects, software engineers and interface designers helping AEC companies understand, prototype and deploy custom technologies. <%= link_to "Read more", "/about/", class: "page-header__link" %>.</p>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Clients</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "ImageWall", "/work/imagewall/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <%= link_to "A. Zahner Co.", "/work/zahner/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">Flux.io</span>
        </li>
        <li class="page-text__item">
          <%= link_to "MIT", "/work/mit-design-lab/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
    <div class="page-header__group page-header__group--small">
      <h5 class="page-text__kicker">Ventures</h5>
      <ul class="page-text__list">
        <li class="page-text__item">
          <%= link_to "MG Dashboard", "/work/monograph/", class: "page-text__link" %>
        </li>
        <li class="page-text__item">
          <span class="page-text__link page-text__link--empty">MG Websites</span>
        </li>
        <li class="page-text__item">
          <%= link_to "Rellax", "/rellax/", class: "page-text__link" %>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="page-section page-section--feature">
  <article class="page-feature" itemscope itemtype="https://schema.org/CreativeWork">
    <figure class="page-feature__background page-feature__background--imagewall">
      <video class="page-feature__video" preload="auto" mute loop autoplay itemprop="video" itemscope itemtype="https://schema.org/VideoObject" poster="">
        <meta itemprop="name" content="ImageWall — Design and Purchase Custom Perforated Metal Walls from an Image">
        <source src="<%= asset_url("assets/images/work/imagewall/imagewall-feature-hero.mp4") %>" type="video/mp4" itemprop="url">
      </video>
      <%= image_tag("work/imagewall/imagewall-feature-hero.gif", class: "page-feature__image") %>
      <div class="page-feature__overlay"></div>
    </figure>
    <div class="page-feature__foreground">
      <div class="page-feature__text page-feature__text--small">
        <h5 class="page-feature__digit">W1</h5>
      </div>
      <div class="page-feature__text page-feature__text--large">
        <h2 class="page-feature__title" itemprop="name"><%= link_to "Building Tools of the Future", "/work/imagewall/", class: "page-feature__link", itemprop: "url" %></h2>
        <div class="page-feature__byline">ImageWall</div>
        <p class="page-feature__abstract" itemprop="description">Scaling a 3D webapp to design and order custom perforated metal from an image.</p>
      </div>
      <div class="page-feature__text page-feature__text--medium">
        <% link_to "/work/imagewall/", class: "page-feature__cta" do %>
          <span class="page-feature__cta-text">Read the <br>case study</span>
          <span class="page-feature__cta-arrow"></span>
        <% end %>
      </div>
    </div>
  </article>
</section>

<section class="page-section page-section--projects">
  <div class="page-section__text">
    <h2 class="page-section__title" itemprop="name">Selected case studies.</h2>
    <div class="page-section__icon">
      <h5 class="page-text__icon">W2</h5>
    </div>
    <article class="page-project" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="page-project__text page-project__text--large">
        <div class="page-project__byline"><span class="u-hide-sm u-show-md">A. </span>Zahner<span class="u-hide-sm u-show-md"> Co.</span></div>
        <h3 class="page-project__title" itemprop="name">
          <%= link_to "Crafting a Digital Legacy", "/work/zahner/", class: "page-project__link", itemprop: "url" %>
        </h3>
        <p class="page-project__abstract" itemprop="description">A ground up redesign for Zahner's flagship website.</p>
      </div>
    </article>
    <div class="page-section__icon u-hide-sm">
      <h5 class="page-text__icon">W3</h5>
    </div>
    <article class="page-project" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="page-project__text page-project__text--large">
        <div class="page-project__byline">MIT<span class="u-hide-sm u-show-md"> Design Lab</span></div>
        <h3 class="page-project__title" itemprop="name">
          <%= link_to "Micro Sites, Macro Brand", "/work/mit-design-lab/", class: "page-project__link", itemprop: "url" %>
        </h3>
        <p class="page-project__abstract" itemprop="description">Developing a digital platform for MIT's new Design Lab.</p>
      </div>
    </article>
    <div class="page-section__icon u-hide-sm">
      <h5 class="page-text__icon">W4</h5>
    </div>
    <article class="page-project" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="page-project__text page-project__text--large">
        <div class="page-project__byline is-venture">Monograph</div>
        <h3 class="page-project__title" itemprop="name">
          <a href="/work/monograph/" class="page-project__link" title="Monograph — Architecture's New Back Office" itemprop="url">Architecture's <span class="u-hide-sm u-show-lg">New </span>Back Office</a>
        </h3>
        <p class="page-project__abstract" itemprop="description">Project planning and time tracking for architects.</p>
      </div>
    </article>
  </div>
</section>

<section class="page-section page-section--services">
  <h2 class="page-section__subtitle">How we can help you.</h2>
  <div class="page-services">
    <div class="page-service">
      <div class="page-service__icon">
        <h5 class="page-service__icon-text">S1</h5>
      </div>
      <div class="page-service__text">
        <h4 class="page-service__title">Internal Tools</h4>
        <p class="page-service__summary">Have an excel sheet or presentation but no team to implement? We can help take your idea from concept to prototype, to production and beyond.</p>
      </div>
    </div>
    <div class="page-service">
      <div class="page-service__icon">
        <h5 class="page-service__icon-text">S2</h5>
      </div>
      <div class="page-service__text">
        <h4 class="page-service__title">Pilot Projects</h4>
        <p class="page-service__summary">Considering building out your in-house software capabilities? Test the waters with a pilot project before making the investment.</p>
      </div>
    </div>
    <div class="page-service">
      <div class="page-service__icon">
        <h5 class="page-service__icon-text">S3</h5>
      </div>
      <div class="page-service__text">
        <h4 class="page-service__title">Product Validation</h4>
        <p class="page-service__summary">Million dollar idea? We can help you execute on your product vision from start to finish– design, development, marketing and optimization.</p>
      </div>
    </div>
    <div class="page-service">
      <div class="page-service__icon">
        <h5 class="page-service__icon-text">S4</h5>
      </div>
      <div class="page-service__text">
        <h4 class="page-service__title">Technology Advisors</h4>
        <p class="page-service__summary">Lots of questions but not sure where to turn? We offer technology consultations and retainer options for companies in need of advice.</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section--contact">
  <div class="page-section__text">
    <h2 class="page-section__title"><span class="u-hide-xs u-show-sm">We're based in San Francisco, but work with companies worldwide. </span>Have a project or idea? Drop us a line.</h2>
    <div class="page-section__icon">
      <h5 class="page-text__icon">C1</h5>
    </div>
    <div class="page-section__group page-section__group--large">
      <h5 class="page-text__kicker">New Business</h5>
      <p class="page-text__summary">Robert Yuen<br><%= link_to "robert@dixonandmoe.com", "mailto:robert@dixonandmoe.com", class: "page-text__link", title: "Email Robert Yuen" %><br><span class="page-text__link">+1 (617) 834–2828</span></p>
    </div>
    <div class="page-section__group page-section__group--small">
      <h5 class="page-text__kicker">Our Office</h5>
      <p class="page-text__summary">165 11th Street<br>San Francisco, CA<br>94103</p>
    </div>
    <div class="page-section__group page-section__group--small">
      <h5 class="page-text__kicker">Elsewhere</h5>
      <p class="page-text__summary">
        <%= link_to "Twitter", "https://twitter.com/dixonandmoe", class: "page-text__link", title: "Dixon & Moe on Twitter", target: "_blank" %><br>
        <%= link_to "LinkedIn", "https://www.linkedin.com/company/dixon-&-moe", class: "page-text__link", title: "Dixon & Moe on LinkedIn", target: "_blank" %>
      </p>
    </div>
  </div>
</section>