---
itemtype: WebPage
title: Dixon &amp; Moe — Designers, Developers, Marketers
description: A bespoke web design and development freelance outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "monograph-hero.jpg",
    local_title:       "Dixon & Moe — San Francisco Design and Software Consultancy",
    local_description: "Branding, development and design."
  }) %>
<% end %>


<%# Header %>
<header class="home-header">
  <div class="home-header__graphic"></div>
  <div class="home-header__ampersand">
    <%= image_tag("ampersand-hatch.svg", class: "home-header__ampersand-hatch") %>
    <%= image_tag("ampersand-solid.svg", class: "home-header__ampersand-solid") %>
  </div>
  <div class="row">
    <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12">
      <h1 class="home-header__title" itemprop="description">We’re a San Francisco based design and software consultancy developing websites and digital products.</h1>
      <%= link_to "see our clients", "#clients", class: "home-header__link" %>
    </div>
    <div class="col-md-8 col-lg-12 show-md">
      <%= link_to "hello@dixonandmoe.com", "mailto:hello@dixonandmoe.com", class: "home-header__email" %>
    </div>
  </div>
</header>

<%# Client Expertise %>
<section class="page-section">
  <div class="row">
    <div class="col-xs-24 col-sm-21 col-sm-offset-3 col-md-16 col-md-offset-8 col-lg-12 col-lg-offset-12">
      <h2 class="page-section__title">We brand, build, design and market, and can help you with your next project at just about any stage.</h2>
      <%= link_to "get in touch", "/clients/", class: "page-section__link" %>
    </div>
  </div>
</section>

<%# Clients %>
<section id="clients" class="home-clients">
  <div class="row">
    <div class="col-md-6 show-md">
      <h4 class="home-clients__title">Clients</h4>
    </div>
    <%# WisePOPS %>
    <div class="col-xs-24 col-sm-12 col-md-8">
      <div class="home-client" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="WisePOPS | Popups for the rest of us">
        <a class="home-client__link" href="https://wisepops.com/" target="_blank" itemprop="url">
          <figure class="home-client__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("clients/wisepops.svg", alt: "WisePOPS | Popups that are Great", itemprop: "contentUrl") %>
          </figure>
        </a>
        <div class="home-clients__tags">
          <span class="home-client__tag">design</span>,
          <span class="home-client__tag">UI/UX</span>,
          <span class="home-client__tag">marketing</span>
        </div>
        <p class="home-client__description" itemprop="description">We brand, build, launch and market all kinds of websites and products, and not necessarily in that order. We brand, build, launch and market kinds of websites and products.</p>
      </div>
    </div>
    <%# AgendaNYC %>
    <div class="col-xs-24 col-sm-12 col-md-8">
      <div class="home-client" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="Wisepops | Popups for the rest of us">
        <a class="home-client__link" href="https://wisepops.com/" target="_blank" itemprop="url">
          <figure class="home-client__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("clients/agendanyc.svg", alt: "WisePOPS | Popups that are Great", itemprop: "contentUrl") %>
          </figure>
        </a>
        <div class="home-clients__tags">
          <span class="home-client__tag">design</span>,
          <span class="home-client__tag">UI/UX</span>,
          <span class="home-client__tag">marketing</span>
        </div>
        <p class="home-client__description" itemprop="description">We brand, build, launch and market all kinds of websites and products, and not necessarily in that order. We brand, build, launch and market kinds of websites and products.</p>
      </div>
    </div>
    <%# GrooveHQ %>
    <!-- <div class="col-xs-24 col-sm-12 col-md-8 col-md-offset-6">
      <div class="home-client" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="GrooveHQ | Simple Help Desk Software">
        <a class="home-client__link" href="https://groovehq.com/" target="_blank" itemprop="url">
          <figure class="home-client__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("clients/groovehq.svg", alt: "GrooveHQ | Simple Help Desk Software", itemprop: "contentUrl") %>
          </figure>
        </a>
        <div class="home-clients__tags">
          <span class="home-client__tag">design</span>,
          <span class="home-client__tag">A/B testing</span>,
          <span class="home-client__tag">marketing</span>
        </div>
        <p class="home-client__description" itemprop="description">To complement Groove's highly successful product and blog, we worked with their CEO Alex to design and A/B test a brand new <a href="http://groovehq.com/" target="_blank">marketing site</a> from the ground up.</p>
      </div>
    </div> -->
    <%# Aptible %>
    <div class="col-xs-24 col-sm-12 col-md-8 col-md-offset-6">
      <div class="home-client" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="Aptible | HIPPA Compliant Cloud Services">
        <a class="home-client__link" href="https://aptible.com/" target="_blank" itemprop="url">
          <figure class="home-client__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("clients/aptible.svg", alt: "Aptible | HIPPA Compliant Cloud Services", itemprop: "contentUrl") %>
          </figure>
        </a>
        <div class="home-client__tags">
          <span class="home-client__tag">design</span>,
          <span class="home-client__tag">frontend</span>,
          <span class="home-client__tag">marketing</span>
        </div>
        <p class="home-client__description" itemprop="description">Collaborating with their VP of marketing we built an animated <a href="https://www.aptible.com/technology/" target="_blank">technology page</a>, created ads, and designed <a href="https://www.aptible.com/company/resources/#hipaa-badges-section" target="_blank">"Powered by Aptible"</a> badges to drive customer aquisition.</p>
      </div>
    </div>
    <%# Teespring %>
    <div class="col-xs-24 col-sm-12 col-md-8" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="home-client" itemscope itemtype="https://schema.org/CreativeWork">
        <meta itemprop="name" content="Teespring | Awesome t-shirts fast">
        <a class="home-client__link" href="https://teespring.com/" target="_blank" itemprop="url">
          <figure class="home-client__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("clients/teespring.svg", alt: "Teespring | Awesome t-shirts fast", itemprop: "contentUrl") %>
          </figure>
        </a>
        <div class="home-clients__tags">
          <span class="home-client__tag">design</span>,
          <span class="home-client__tag">frontend</span>,
          <span class="home-client__tag">marketing</span>
        </div>
        <p class="home-client__description" itemprop="description">As the first designer at Teespring, Moe oversaw the frontend re-write from php to Rails. In the process every public facing page was designed, coded and A/B tested before going live—all in 8 weeks.</p>
      </div>
    </div>
  </div>
</section>

<%# Process Expertise %>
<section class="home-process">
  <figure class="home-process__graphic" itemsprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <%= image_tag("process.svg") %>
  </figure>
  <div class="row">
    <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12 col-lg-offset-2">
      <h2 class="page-section__title">We take a design focused approach to each project phase, from discovery through development to launch.</h2>
      <%= link_to "learn about our process", "/process/", class: "page-section__link" %>
    </div>
  </div>
</section>

<%# Writing %>
<section class="home-writing">
  <div class="row">
    <div class="col-sm-3 col-md-6 show-sm">
      <h4 class="home-writing__title">Writing</h4>
    </div>
    <div class="col-xs-24 col-sm-21 col-md-16">
      <article class="home-post" itemscope itemtype="https://schema.org/Article">
        <div class="row">
          <div class="col-xs-24 col-md-24 col-lg-24">
            <h2 class="home-post__title" itemprop="headline">SEO Field Guide for Designers</h2>
          </div>
          <div class="col-xs-24 col-md-18">
            <p class="home-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
           <%= link_to "read it now", "/clients/", class: "home-post__link" %>
          </div>
        </div>
      </article>
      <article class="home-post" itemscope itemtype="https://schema.org/Article">
        <div class="row">
          <div class="col-xs-24 col-md-24 col-lg-24">
            <h2 class="home-post__title" itemprop="headline">Agency Year 1: Make All the Mistakes</h2>
          </div>
          <div class="col-xs-24 col-md-18">
            <p class="home-post__description" itemprop="description">We worked together with the SF based firm to iterate a series of design concepts and ultimately created a site that is refined, easy to use and places emphasis on their incredible work.</p>
           <%= link_to "learn about our first year", "/clients/", class: "home-post__link" %>
          </div>
        </div>
      </article>
      <article class="home-post" itemscope itemtype="https://schema.org/Article">
        <div class="row">
          <div class="col-xs-24 col-md-24 col-lg-24">
            <h2 class="home-post__title" itemprop="headline">How to Form an LLC in California</h2>
          </div>
          <div class="col-xs-24 col-md-18">
            <p class="home-post__description" itemprop="description">Based on our particular observations we’d like to propose four methods that are effective when marketing to designers.</p>
           <%= link_to "read it on Monograph.io", "/clients/", class: "home-post__link" %>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>


<%# Page Section %>
<!-- <section style="padding: 4em 0 6em;" class="home-blog" id="blog">
  <div class="row">
    <div class="col-xs-24 col-sm-16 col-sm-centered">
      <h6 style="margin-bottom:5em">WRITING</h6>
      <div class="link">
        <a href="http://zeppelin.io/blog/best-architecture-websites-part-1" target="_blank">Best Architecture Websites</a> <span>— Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</span>
      </div>
      <div class="link">
        <a href="http://zeppelin.io/work/stanley-saitowitz" target="_blank">Stanley Saitowitz Case Study</a> <span>— We worked together with the SF based firm to iterate a series of design concepts and ultimately created a site that is refined, easy to use and places emphasis on their incredible work.</span>
      </div>
      <div class="link">
        <a href="https://medium.com/@moeamaya/on-marketing-to-designers-7186904fcdbd" target="_blank">On Marketing to Designers</a> <span>— Based on our particular observations we’d like to propose four methods that are effective when marketing to designers.</span>
      </div>
    </div>
  </div>
</section> -->



<%# Product Expertise %>
<section class="page-section">
  <div class="row">
    <div class="col-xs-24 col-sm-21 col-md-16 col-lg-12 col-lg-offset-4">
      <h2 class="page-section__title">We’re especially fond of creating helpful tools and products for the design community.</h2>
      <%= link_to "as seen on the web", "/clients/", class: "page-section__link" %>
    </div>
  </div>
</section>

<%# Products %>
<section class="home-products">
  <div class="home-products__graphic"></div>
  <div class="row">
    <div class="col-sm-3 col-md-6 show-sm">
      <h4 class="home-products__title">Products</h4>
    </div>
    <%# Monograph %>
    <div class="col-xs-24 col-sm-12 col-md-8">
      <div class="home-product" itemscope itemtype="https://schema.org/CreativeWork">
        <a href="https://wisepops.com/" target="_blank" itemprop="url">
          <figure class="home-product__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("products/monograph.svg", alt: "Monograph | Better Websites for Architects", itemprop: "contentUrl") %>
          </figure>
        </a>
        <p class="home-product__description" itemprop="description">A design technologist publication, Monograph is a place for projects; to share and view work by creatives, makers and designers.</p>
        <%= link_to "monograph.io", "http://archive.monograph.io/", class: "home-product__link" %>
      </div>
    </div>
    <%# HTML Color Codes %>
    <div class="col-xs-24 col-sm-12 col-md-8">
      <div class="home-product" itemscope itemtype="https://schema.org/CreativeWork">
        <a href="https://groovehq.com/" target="_blank" itemprop="url">
          <figure class="home-product__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("products/html-color-codes.svg", alt: "HTML Color Codes | A Powerful Suite of Online Color Tools", itemprop: "contentUrl") %>
          </figure>
        </a>
        <p class="home-product__description" itemprop="description">A powerful set of free color tools, HTML Color Codes includes an intuitive color picker, color chart and names, tutorials, and resources.</p>
        <%= link_to "htmlcolorcodes.com", "http://htmlcolorcodes.com/", class: "home-product__link" %>
      </div>
    </div>
    <%# HTML Arrows %>
    <div class="col-xs-24 col-sm-12 col-md-8 col-md-offset-6">
      <div class="home-product" itemscope itemtype="https://schema.org/CreativeWork">
        <a href="https://aptible.com/" target="_blank" itemprop="url">
          <figure class="home-product__logo" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <%= image_tag("products/html-arrows.svg", alt: "HTML Arrows | Comprehensive Reference for HTML Symbol Codes", itemprop: "contentUrl") %>
          </figure>
        </a>
        <p class="home-product__description" itemprop="description">Blending beauty with utility, HTML Arrows is a comprehensive reference for all of those HTML symbol codes you can never remember.</p>
        <%= link_to "htmlarrows.com", "http://htmlarrows.com/", class: "home-product__link" %>
      </div>
    </div>
  </div>
</section>

<%# Page Section %>
<!-- <section class="gray" id="work">
  <div class="row">
    <div class="col-xs-24 col-sm-24">
      <h6>OUR WORK</h6>
      <h2>Companies we've worked with</h2>
    </div>
    <div style="clear:both"></div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #39ace6">
        <img src="/assets/images/teespring.svg">
      </div>
      <h3>Teespring</h3>
      <h4>UI Design, Frontend Code, A/B Testing</h4>
      <p>As the first designer at Teespring, Moe oversaw the frontend re-write from php to Rails. In the process every public facing page was designed, coded and A/B tested before going live—all in 8 weeks.</p>
    </div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #0272b7">
        <img src="/assets/images/aptible.svg">
      </div>
      <h3>Aptible</h3>
      <h4>Marketing, Design, Animation</h4>
      <p>Working directly with Sam Yount (VP of marketing), we designed and built the <a href="https://www.aptible.com/technology/" target="_blank">technology page</a>, designed ads, and built the new <a href="https://www.aptible.com/company/resources/#hipaa-badges-section" target="_blank">"Powered by Aptible"</a> badge to help drive customer aquisition.</p>
    </div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #fff">
        <img src="/assets/images/groove.svg">
      </div>
      <h3>Groove</h3>
      <h4>UI Design, A/B Testing</h4>
      <p>With the product and blog on point, Groove needed an updated marketing site. Collaborating with the CEO Alex, we designed and A/B tested the <a href="http://groovehq.com/" target="_blank">entire site</a> from the ground up. <strong>(Jan 2016)</strong></p>
    </div>
  </div>
</section> -->


<%# Page Section %>
<!-- <section style="padding: 4em 0 6em;" class="home-blog" id="blog">
  <div class="row">
    <div class="col-xs-24 col-sm-16 col-sm-centered">
      <h6 style="margin-bottom:5em">WRITING</h6>
      <div class="link">
        <a href="http://zeppelin.io/blog/best-architecture-websites-part-1" target="_blank">Best Architecture Websites</a> <span>— Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</span>
      </div>
      <div class="link">
        <a href="http://zeppelin.io/work/stanley-saitowitz" target="_blank">Stanley Saitowitz Case Study</a> <span>— We worked together with the SF based firm to iterate a series of design concepts and ultimately created a site that is refined, easy to use and places emphasis on their incredible work.</span>
      </div>
      <div class="link">
        <a href="https://medium.com/@moeamaya/on-marketing-to-designers-7186904fcdbd" target="_blank">On Marketing to Designers</a> <span>— Based on our particular observations we’d like to propose four methods that are effective when marketing to designers.</span>
      </div>
    </div>
  </div>
</section> -->


<%# Page Section %>
<!-- <section class="gray" id="fun">
  <div class="row">
    <div class="col-xs-24 col-sm-24">
      <h6>SIDE PROJECTS</h6>
      <h2>Cool things we've made</h2>
    </div>
    <div style="clear:both"></div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #f3f4f8">
        <img src="/assets/images/htmlcolorcodes.svg">
      </div>
      <h3>HTML Color Codes</h3>
      <h4>HTML Color picking made easy</h4>
      <p>HTML Color Codes is a powerful set of free color tools including our intuitive color picker, color chart, color name, tutorials and resources.
        <br><br>
        <a href="http://htmlcolorcodes.com/" target="_blank">Visit the site &rarr;</a>
      </p>
    </div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #a03741">
        <img src="/assets/images/htmlarrows.svg">
      </div>
      <h3>HTML Arrows</h3>
      <h4>HTML Symbols, entities, and codes</h4>
      <p>Blending beauty with utility, HTML Arrows is a clean and comprehensive reference for all of those HTML symbol codes you can never remember.
        <br><br>
        <a href="http://htmlarrows.com/" target="_blank">Visit the site &rarr;</a>
      </p>
    </div>
    <div class="col-sm-8">
      <div class="base-image" style="background: #fff">
        <img src="/assets/images/monograph.svg">
      </div>
      <h3>Monograph</h3>
      <h4>Design technologist publication</h4>
      <p>Monograph is a place for projects — a site to share and view work by creatives, technologists, makers and designers.
        <br><br>
        <a href="http://monograph.io/" target="_blank">Visit the site &rarr;</a>
      </p>
    </div>
  </div>
</section> -->