---
itemtype: WebPage
---

<%# Meta Tags %>
<%# content_for :meta do %>
  <%# partial("partials/head/meta_tags", locals: {
    local_path:        "/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Dixon & Moe — Strategy, Design, Development",
    local_description: "We're a San Francisco based software company helping AEC firms understand, prototype and deploy custom technologies."
  }) %>
<%# end %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<header class="header">
  <span class="header-text">Mark Janzer</span>
</header>

<hr class="hr-top"/><hr class="hr-bottom projects-border"/>

<section class="projects">
  <div class="project shake-trigger tessarray">
    <div class="project-body">
      <div class="project-title">
        <!-- <div class="project-title__line"> -->
          <span class="letter shake-custom-1">T</span>
          <span class="letter hidden">E</span>
          <span class="letter shake-custom-2">S</span>
          <span class="letter shake-custom-3">S</span>
          <span class="letter hidden">A</span>
          <span class="letter shake-custom-4">R</span>
          <span class="letter shake-custom-5">R</span>
          <span class="letter hidden">A</span>
          <span class="letter hidden negative-margin">Y</span>
        <!-- </div> -->
      </div>
      <div class="project-description">
        A vanilla JS library for creating sortable justified layouts. Originally a one off solution for <a href="#">Monograph Websites</a>, Tessarray slowly evolved into a full fledged open source libarary. With inspiration from <a href="#">Dessandro's Flickity</a>, the foundation of <a href="#">Flickr's Justified Layout</a>, I wrote <a href="#">Tessarray</a> with <a href="#">Dixon & Moe</a>.
      </div>
    </div>
    <div class="project-background tessarray-background">
      <div class="container" id="container">
        <div class="box" data-aspect-ratio="1.5">
          <img src="/assets/images/backgrounds/Optimized-nasa-1.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.5">
          <img src="/assets/images/backgrounds/Optimized-nasa-2.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.6">
          <img src="/assets/images/backgrounds/Optimized-nasa-3.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="2.08">
          <img src="/assets/images/backgrounds/Optimized-nasa-4.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.5">
          <img src="/assets/images/backgrounds/Optimized-nasa-5.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.6">
          <img src="/assets/images/backgrounds/Optimized-nasa-6.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.05">
          <img src="/assets/images/backgrounds/Optimized-nasa-7.jpg"/>
        </div>
        <div class="box" data-aspect-ratio="1.5">
          <img src="/assets/images/backgrounds/Optimized-nasa-8.jpg"/>
        </div>
      </div>
    </div>
  </div>

  <hr class= "project-divider"/>

  <div class="project shake-trigger lik">
    <div class="project-body">
      <div class="project-title">
        <div class="project-title__line">
          <span class="shake-custom-1 letter">L</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">I</span>
          <span class="letter hidden">N</span>
          <span class="letter hidden">E</span>
          <span class="letter hidden">A</span>
          <span class="letter hidden">R</span>
        </div>
        <div class="project-title__line">
          <span class="shake-custom-2 letter">I</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">S</span>
          <span class="letter hidden">O</span>
          <span class="letter hidden">M</span>
          <span class="letter hidden">O</span>
          <span class="letter hidden">R</span>
          <span class="letter hidden">P</span>
          <span class="letter hidden">H</span>
          <span class="letter hidden">I</span>
          <span class="letter hidden">C</span>
        </div>
        <div class="project-title__line">
          <span class="shake-custom-4 letter">K</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">E</span>
          <span class="letter hidden">Y</span>
          <span class="letter hidden">B</span>
          <span class="letter hidden">O</span>
          <span class="letter hidden">A</span>
          <span class="letter hidden">R</span>
          <span class="letter hidden">D</span>
        </div>
      </div>
      <div class="project-description">Can the piano be improved? The layout of a keyboard predates equal temperment, the tonal system, and the invention of the piano itself. This blog documents a quest to create and test a new keyboard to find out if there has been an easier way to play all along.</div>
    </div>
    <div class="project-background">
      <img class="project-image" src="assets/images/backgrounds/altered-piano-key.jpg" />
    </div>
  </div>

  <hr class= "project-divider"/>

  <div class="project shake-trigger rap">
    <div class="project-body">
      <div class="project-title">
        <div class="project-title__line">
          <span class="letter hidden">T</span>
          <span class="letter hidden">H</span>
          <span class="letter hidden">E</span>
          <span class="letter hidden space"> </span> 

          <span class="shake-custom-1 letter">R</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">A</span>
          <span class="letter hidden">P</span>
        </div>
        <div class="project-title__line">
          <span class="shake-custom-2 letter">A</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">N</span>
          <span class="letter hidden">A</span>
          <span class="letter hidden">L</span>
          <span class="letter hidden">Y</span>
          <span class="letter hidden">S</span>
          <span class="letter hidden">I</span>
          <span class="letter hidden">S</span>
        </div>
        <div class="project-title__line">
          <span class="shake-custom-3 letter">P</span>
          <span class="letter abbreviation">.</span>
          <span class="letter hidden">R</span>
          <span class="letter hidden">O</span>
          <span class="letter hidden">J</span>
          <span class="letter hidden">E</span>
          <span class="letter hidden">C</span>
          <span class="letter hidden">T</span>
        </div>
      </div>
      <div class="project-description">
        It started as a search for the answer to the question: "What makes some rappers sound better than others?" <a href="#">The Rap Analysis Project</a> is a tool for the transcription and analysis that helps you see, hear, and understand rap in a new way.
      </div>
    </div>
    <div class="project-background">
      <img class="project-image" src="/assets/images/backgrounds/rappers.jpg" />
    </div>
  </div>
</section>

<hr class="hr-top projects-border"/><hr class="hr-bottom jobs-border"/>

<section class="jobs">
  <div class="job shake-trigger">
    <div class="job-body">
      <div class="job-title">
        <span class="scaling-svg-container shake-custom-1"><%= partial "partials/icons/ampersand.html.erb" %></span>
      </div>
      <div class="job-description">
        I am currently lead engineer at Dixon and Moe.
        <br><br>
        As trained architects, interface designers and software developers, <a href="#">Dixon & Moe</a> believe technology can be a motive force in the Architecture, Engineering, Construction and Real Estate industries.</div>
    </div>
    <div class="job-background">
      <div class="big-ampersand">
        <%= partial "partials/icons/ampersand.html.erb" %>
      </div>
    </div>
  </div>
</section>

<hr class="hr-top jobs-border"/><hr class="hr-bottom"/>

<section class="bio">

  <div class="bio-prompt">A Few Influences:</div>
  <div class="bio-influences">
    <a href="#">Anthology of Rap</a>
    <a href="#">The Autobiography of Malcom X</a>
    <a href="#">Tricia Rose</a>
    <a href="#">Eckhart Tolle</a>
    <a href="#">Incognito</a>
    <a href="#">Kendrick Lamar</a>
    <a href="#">Hiromi Uehara</a>
    <a href="#">Bill Evans</a>
    <a href="#">Victor Wooten</a>
    <a href="#">Confirmation Bias</a>
    <a href="#">Fallacies</a>
    <a href="#">Bias Blind Spot</a>
    <a href="#">Growth Mindset</a>
  </div>
</section>

<footer class="footer">
  <a class="footer-icon link" href="https://github.com/markjanzer/">
    <%= partial "partials/icons/github.html.erb" %>
  </a>
  <a class="footer-icon link" href="mailto:mark@dixonandmoe.com">
    <%= partial "partials/icons/email.html.erb" %>
  </a>
  <a class="footer-icon link" href="https://www.linkedin.com/in/markjanzer">
    <%= partial "partials/icons/linkedin.html.erb" %>
  </a>
</footer>