---
itemtype: CollectionPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Work — Dixon & Moe",
    local_description: ""
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" }
    ]
  }) %>
<% end %>

<%# Page Content %>
<header class="page-header">
  <div class="page-header__text">
    <h1 class="page-header__title" itemprop="name">Work</h1>
    <p class="page-header__abstract" itemprop="description">Create and purchase perforated metal walls from an image</p>
    <div class="page-header__byline">ImageWall</div>
  </div>
</header>

<section class="page-section">
  <%= link_to "Zahner — Crafting a Digital Legacy", "/work/zahner" %>
  <%= link_to "ImageWall — Building tools of the future", "/work/imagewall" %>
  <%= link_to "MIT Design Lab — Micro Sites, Macro Brand", "/work/mit-design-lab" %>
  <%= link_to "Monograph — Upgrading Architecture's Back Office", "/work/monograph" %>
  <div class="page-section__summary">

  </div>
  <div class="">

  </div>
  <div class="">

  </div>
</section>

<!-- <div class="page-projects" style="display: none">
    <article class="page-card" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="page-card__text page-card__text--small">
        <h5 class="page-card__digit">W2</h5>
      </div>
      <div class="page-card__text page-card__text--large">
        <div class="page-card__byline">A. Zahner Co.</div>
        <h3 class="page-card__title" itemprop="name"><%= link_to "Crafting a Digital Legacy", "/work/zahner/", class: "page-card__link", itemprop: "url" %></h3>
        <p class="page-card__abstract" itemprop="description">A ground up redesign for Zahner's flagship website.</p>
      </div>
    </article>
    <article class="page-card" itemscope itemtype="https://schema.org/CreativeWork">
      <div class="page-card__text page-card__text--small" style="border-top-color:transparent;">
        <h5 class="page-card__digit">W3</h5>
      </div>
      <div class="page-card__text page-card__text--large" style="border-top-color:transparent;">
        <div class="page-card__byline">MIT Design Lab</div>
        <h3 class="page-card__title" itemprop="name"><%= link_to "Micro Sites, Macro Brand", "/work/mit-design-lab/", class: "page-card__link", itemprop: "url" %></h3>
        <p class="page-card__abstract" itemprop="description">Developing a digital platform for MIT's new Design Lab</p>
      </div>
    </article>
  </div> -->