---
itemtype: CollectionPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Work — Dixon & Moe",
    local_description: ""
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" }
    ]
  }) %>
<% end %>

<%# Page Content %>
<header class="page-header">
  <div class="page-header__text">
    <h1 class="page-header__title" itemprop="name">Work</h1>
    <p class="page-header__abstract" itemprop="description">Create and purchase perforated metal walls from an image</p>
    <div class="page-header__byline">ImageWall</div>
  </div>
</header>

<section class="page-section">
  <%= link_to "Zahner — Crafting a Digital Legacy", "/work/zahner" %>
  <%= link_to "ImageWall — Building tools of the future", "/work/imagewall" %>
  <%= link_to "MIT Design Lab — Micro Sites, Macro Brand", "/work/mit-design-lab" %>
  <%= link_to "Monograph — Upgrading Architecture's Back Office", "/work/monograph" %>
  <div class="page-section__summary">

  </div>
  <div class="">

  </div>
  <div class="">

  </div>
</section>