---
itemtype: CollectionPage
title: Work — Dixon & Moe
description: A bespoke web design and development outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "monograph-hero.jpg",
    local_title:       "Work — Dixon & Moe",
    local_description: "Branding, development and design."
  }) %>
<% end %>

<%# Header %>
<header class="work-header parallax__group">
  <div class="parallax__layer parallax__layer--0">
    <div class="work-header__text">
      <div class="row">
        <div class="col-xs-24 col-sm-21 col-md-16 col-lg-16 col-lg-offset-2">
          <h1 class="page-header__title" itemprop="name">Our work.</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<%# WisePops %>
<section class="client-section parallax__group" style="margin-top:-15vh">
  <div class="parallax__layer parallax__layer--1">
    <div class="client__text">
      <div class="row">
        <div class="col-md-3 col-lg-8 col-lg-offset-2">
          <h2 class="process-phase__title">A polished product for WisePops</h2>
          <a class="process-phase__subtitle" style="font-size:21px;border-bottom:4px solid #0F0D20;padding-bottom:8px;margin-right:16px;">view case</a>
          <a class="process-phase__subtitle" style="font-size:21px;">launch site</a><br><br><br><br>
          <!-- <p class="process-phase__description">Working remotely with the CEO Ben, we helped the Paris based company to update their product's UI and UX, and built out a completely new marketing website which launched in January.</p> -->
        </div>
        <div class="col-lg-9 col-lg-offset-1">
          <%# image_tag("clients/wisepops-original.png", style: "width:480px;margin-top:0vh;margin-left:0;opacity:1") %>
          <!-- <p class="process-phase__description">Working remotely with the CEO Ben, we helped the Paris based company to update their product's UI and UX, and built out a completely new marketing website which launched in January.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--2">
    <%# image_tag("clients/agendanyc-logo--white.svg", style: "width:270px;margin-top:-3vh;margin-left:120px;opacity:1") %>
    <%# image_tag("clients/agendanyc-hero.png", style: "width:600px;margin-top:-4vh;margin-left:480px;opacity:1") %>
    <%= image_tag("clients/wisepops-hero.png", style: "width:960px;margin-top:-27vh;margin-left:560px;opacity:1") %>
  </div>
  <div class="parallax__layer parallax__layer--3">
    <%= image_tag("clients/wisepops-logo--white.svg", style: "width:300px;margin-top:3vh;margin-left:120px;opacity:1") %>
  </div>
</section>

<%# Agenda NYC %>
<section class="client parallax__group" style="margin-top:0vh">
  <div class="parallax__layer parallax__layer--1">
    <div class="client__text">
      <div class="row">
        <div class="col-md-3 col-lg-8 col-lg-offset-2">
          <h2 class="process-phase__title">Developing a home for Agenda NYC</h2>
          <a class="process-phase__subtitle" style="font-size:21px;border-bottom:4px solid #0F0D20;padding-bottom:8px">agendanyc.com</a><br><br><br><br>
          <p class="process-phase__description">Websites today are both destination and conduit; they must provide a delightful, memorable user experience, and in parallel operate as the primary distribution network for an organization’s online brand and content.</p>
        </div>
        <div class="col-lg-9 col-lg-offset-1">
          
        </div>
      </div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--2">
    <%# image_tag("clients/agendanyc-logo--white.svg", style: "width:270px;margin-top:-3vh;margin-left:120px;opacity:1") %>
    <%# image_tag("clients/agendanyc-hero.png", style: "width:600px;margin-top:-4vh;margin-left:480px;opacity:1") %>
    <%= image_tag("clients/agendanyc-hero.png", style: "width:840px;margin-top:-3vh;margin-left:480px;opacity:1") %>
  </div>
  <div class="parallax__layer parallax__layer--3">
    <%= image_tag("clients/agendanyc-logo--white.svg", style: "width:270px;margin-top:9vh;margin-left:240PX;opacity:1") %>
  </div>
</section>

<%# Groove HQ %>
<section class="client parallax__group" style="margin-top:20vh">
  <div class="parallax__layer parallax__layer--1">
    <div class="client__text">
      <div class="row">
        <div class="col-md-3 col-lg-8 col-lg-offset-2">
          <h2 class="process-phase__title">Design to convert for Groove HQ</h2>
          <h4 class="process-phase__subtitle">groovehq.com</h4>
        </div>
        <div class="col-lg-9">
          <p class="process-phase__description">Websites today are both destination and conduit; they must provide a delightful, memorable user experience, and in parallel operate as the primary distribution network for an organization’s online brand and content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--2">
    <%= image_tag("clients/groovehq-logo--white.svg", style: "width:300px;margin-top:-6vh;margin-left:240px;opacity:1") %>
  </div>
</section>

<%# Aptible %>
<section class="client parallax__group" style="margin-top:-40vh">
  <div class="parallax__layer parallax__layer--1">
    <div class="client__text">
      <div class="row">
        <div class="col-md-3 col-lg-8 col-lg-offset-2">
          <h2 class="process-phase__title">Animated product page for Aptible</h2>
          <h4 class="process-phase__subtitle">apitible.com</h4>
        </div>
        <div class="col-lg-9">
          <p class="process-phase__description">Websites today are both destination and conduit; they must provide a delightful, memorable user experience, and in parallel operate as the primary distribution network for an organization’s online brand and content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--2">
    <%= image_tag("clients/aptible-logo--white.svg", style: "width:300px;margin-top:-6vh;margin-left:240px;opacity:1") %>
  </div>
</section>