---
itemtype: CollectionPage
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_path:        "/work/",
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "dixon-and-moe-hero.jpg",
    local_title:       "Work — Dixon & Moe",
    local_description: "We collaborate with companies around the world — including MIT, Zahner and ImageWall —  to build great products and digital platforms."
  }) %>
<% end %>

<%# Breadcrumbs %>
<% content_for :breadcrumbs do %>
  <%= partial("partials/breadcrumbs", locals: {
    local_paths: [
      { url: "#{config.base_url}/work/", title: "Work", type: "CollectionPage" }
    ]
  }) %>
<% end %>

<header class="page-header">
  <div class="page-header__hero">
    <%= image_tag("circle.png", class: "page-header__hero-circle") %>
    <%= image_tag("polygon.png", class: "page-header__hero-polygon") %>
  </div>
  <div class="page-header__text">
    <h1 class="page-header__title" itemprop="name"><span class="page-header__primary">Selected work</h1>
  </div>
</header>

<section class="page-section">
  <ul class="page-list">
    <%= partial("partials/case", locals: {
      is_venture: false,
      local_path: "/work/imagewall/",
      local_image: "",
      local_index: 1,
      local_title: "Building Tools of the Future",
      local_client: "ImageWall",
      local_description: "Scaling a 3D web app to design and purchase custom perforated metal.",
    }) %>
    <%= partial("partials/case", locals: {
      is_venture: false,
      local_path: "/work/zahner/",
      local_image: "",
      local_index: 2,
      local_title: "Crafting a Digital Legacy",
      local_client: "A. Zahner Co.",
      local_description: "A ground up redesign for Zahner's flagship website.",
    }) %>
    <%= partial("partials/case", locals: {
      is_venture: false,
      local_path: "/work/mit-design-lab/",
      local_image: "",
      local_index: 3,
      local_title: "Micro Sites, Macro Brand",
      local_client: "MIT Design Lab",
      local_description: "Developing a digital platform for MIT's new Design Lab.",
    }) %>
    <%= partial("partials/case", locals: {
      is_venture: true,
      local_path: "/work/monograph/",
      local_image: "",
      local_index: 4,
      local_title: "Upgrading Architecture's Back Office",
      local_client: "Monograph",
      local_description: "Project planning and time tracking software for architects.",
    }) %>    
  </ul>
</section>
<section class="page-section page-section--clients">
  <h2 class="page-section__subtitle">Collaborators & Clients</h2>
  <div class="page-clients">
    <div class="page-client">
      <%= image_tag("clients/imagewall-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/mit-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/flux-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/fsb-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/mass-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/zahner-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/stanley-saitowitz-logo.svg", class: "page-section__image") %>
    </div>
    <div class="page-client">
      <%= image_tag("clients/agenda-logo.svg", class: "page-section__image") %>
    </div>
  </div>
</section>
<%= partial("partials/contact") %>