---
itemtype: CollectionPage
title: Guides — Dixon & Moe
description: A bespoke web design and development outfit based in SF.
changefreq: "daily"
priority: 1.0
---

<%# Meta Tags %>
<% content_for :meta do %>
  <%= partial("partials/head/meta_tags", locals: {
    local_type:        "website",
    local_card:        "summary_large_image",
    local_image:       "monograph-hero.jpg",
    local_title:       "Writing — Dixon & Moe | Strategy, Design and Development",
    local_description: "Our collected musings on building a design agency, running a business, SEO and marketing techniques, and a panoply of other topics sure to inspire and delight."
  }) %>
<% end %>

<%# Custom JavaScript %>
<% content_for :javascripts do %>logoColor(120);<% end %>

<%# Header %>
<header class="writing-header">
  <div class="writing-header__grid">
    <div class="rellax" data-rellax-speed="-2">
      <%# 1 — 12 %>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <%# 13 — 24 %>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <%# 25 — 36 %>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <%# 37 — 48 %>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
      <span class="writing-header__grid-col"></span>
    </div>
  </div>
  <div class="writing-header__shapes">
    <div class="rellax" data-rellax-speed="-2">
      <ul class="js-parallax-scene">
        <li class="writing-header__shape layer" data-depth="0.20"><%= image_tag("writing/shape-md.svg", class: "writing-header__shape-md") %></li>
        <li class="writing-header__shape layer" data-depth="0.40"><%= image_tag("writing/shape-lg.svg", class: "writing-header__shape-lg") %></li>
        <li class="writing-header__shape layer" data-depth="0.80"><%= image_tag("writing/shape-sm.svg", class: "writing-header__shape-sm") %></li>
      </ul>
    </div>
  </div>
  <div class="writing-header__text">
    <div class="rellax" data-rellax-speed="2">
      <div class="row">
        <div class="col-xs-24 col-sm-21 col-md-16 col-lg-15">
          <h1 class="writing-header__title">Sometimes we write about particular projects, building a design agency or just random stuff.</h1>
          <% link_to "/writing/", class: "writing-header__link" do %>articles <span style="font-size:26px;">&#8595;</span><% end %>
        </div>
        <div class="col-xs-24 col-sm-3 col-md-8 col-lg-9">
          <h4 class="writing-header__tagline">Our writing</h4>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="writing-section">

  <article class="home-post" itemscope itemtype="https://schema.org/Article">
      <div class="row">
        <%# Shape %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6">
            <div class="home-post__shape--right"></div>
          </div>
        </div>
        <%# Image %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-6">
            <%= image_tag("posts/agency-year-1-make-all-the-mistakes.jpg", class: "home-post__image", style: "width:600px;") %>
          </div>
        </div>
        <%# Text %>
        <div class="rellax" data-rellax-speed="2">
          <div class="col-xs-24 col-sm-21 col-md-15">
            <h2 class="home-post__title" itemprop="headline">Agency Year 1: Make All the Mistakes</h2>
            <%= link_to "read it now", "agency-year-1-make-all-the-mistakes/", class: "home-post__link" %>
          </div>
        </div>
      </div>
    </article>





  <%# Section Title %>
<!--   <div class="">
    <div class="parallax__layer parallax__layer--3">
      <div class="row">
        
      </div>
    </div>
  </div> -->
  <%# Section Content %>
  <!-- <div class="parallax__layer parallax__layer--faster"> -->
<!--     <div class="row">
      <div class="col-xs-24 col-sm-21 col-md-16 col-md-offset-2">
        <%# Part 4 %>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 5 — Markup", "/writing/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
        <%# Part 3 %>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 4 — Planning", "/writing/seo-for-designers-part-2/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 3 — Markup", "/writing/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 2 — Markup", "/writing/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "SEO for Designers: Part 1 — Markup", "/writing/seo-for-designers-part-1/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/clients/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xs-24 col-sm-3 col-md-6 show-sm">
        <h4 class="writing-section__title">SEO for Designers</h4>
      </div>
    </div>
</section> -->

<%# Building an Agency %>
<!-- <section class="writing-section parallax__group">
  <%# Section Title %>
  <div class="">
    <div class="parallax__layer parallax__layer--3">
      <div class="row">
        <div class="col-xs-24 show-sm">
          <h4 class="writing-section__title">Building an Agency</h4>
        </div>
      </div>
    </div>
  </div>
  <%# Section Content %>
    <div class="row">
      <div class="col-xs-24 col-sm-21 col-md-16 col-md-offset-2">
        <article class="home-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "How to Register a Business in San Francisco", "/writing/how-to-register-a-business-in-san-francisco/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="home-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/writing/how-to-register-a-business-in-san-francisco/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
        <article class="writing-post" itemscope itemtype="https://schema.org/Article">
          <div class="row">
            <div class="col-xs-24 col-md-24 col-lg-24">
              <h2 class="writing-post__title" itemprop="headline">
                <%= link_to "How to Form an LLC in California", "/writing/how-to-form-an-llc-in-california/", itemprop: "url" %>
              </h2>
            </div>
            <div class="col-xs-24 col-md-18">
              <p class="writing-post__description" itemprop="description">Architects excel at creating amazing content, and as web designers there is nothing more exciting for us than seeing this content presented online in beautiful ways.</p>
             <%= link_to "read it now", "/writing/how-to-form-an-llc-in-california/", class: "writing-post__link" %>
            </div>
          </div>
        </article>
      </div>
    </div> -->
</section>