<%# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  # Metatags
  # partials/head/_metatags.html.erb
  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
%>

<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="turbolinks-cache-control" content="no-preview">
<link rel="canonical" href="<%= config.base_url %><%= local_path %>">
<title><%= local_title %></title>
<meta name="title" content="<%= local_title %>">
<meta name="description" content="<%= local_description %>">
<%# Facebook %>
<meta property="og:site_name" content="<%= config.base_name %>">
<meta property="og:type" content="<%= local_type %>">
<meta property="og:url" content="<%= config.base_url %><%= local_path %>">
<meta property="og:title" content="<%= local_title %>">
<meta property="og:description" content="<%= local_description %>">
<% if local_image.include?("://") %>
<meta property="og:image" content="<%= local_image %>">
<% else %>
<meta property="og:image" content="<%= config.base_url %><%= image_path(local_image) %>">
<% end %>
<meta property="fb:app_id" content="">
<%# Twitter %>
<meta name="twitter:domain" content="<%= config.base_domain %>">
<meta name="twitter:card" content="<%= local_card %>">
<meta name="twitter:url" content="<%= config.base_url %><%= local_path %>">
<meta name="twitter:title" content="<%= local_title %>">
<meta name="twitter:description" content="<%= local_description %>">
<% if local_image.include?("://") %>
<meta name="twitter:image" content="<%= local_image %>">
<% else %>
<meta name="twitter:image" content="<%= config.base_url %><%= image_path(local_image) %>">
<% end %>